<div ng-controller="mainCtrl as main"  >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button aria-label="Go Back">
                Go Back
            </md-button>
            <md-button ng-click="main.saveObjects()">
                Save
            </md-button>
            <span flex=""></span>
            <h2>
                <span>DGRL</span>
            </h2>
        </div>
    </md-toolbar>
        <md-tabs md-dynamic-height="true" class="md-accent" md-stretch-tabs="always">
            <md-tab md-on-select="main.checkEmpty()">
                <div flex ng-include src="'views/objects.html'" />
                <md-tab-label class="md-accent">
                    <md-icon aria-label="objects">extension</md-icon>
                    <span>Objects</span>
                </md-tab-label>
                <md-tab-body >
                    <div  flex ng-include src="'views/objects.html'" />
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2" ng-disabled="data.secondLocked">
                <md-tab-label>
                    <md-icon aria-label="fields">list</md-icon>
                    <span>Fields</span>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include src="'views/related.html'"/>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3">
                <md-tab-label>
                    <md-icon aria-label="aggregation">line_style</md-icon>
                    <span>Aggregations</span>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include src="'views/aggregation.html'"/>
                </md-tab-body>
            </md-tab>
        </md-tabs>
</div>
