<div>
    <related-object ng-repeat="relationship in main.relationships track by $index" relationship="relationship" main="main">
    </related-object>
    <div style="display: flex" layout-padding layout-align="center stretch">
        <div>
            <md-button ng-if="main.relationships.length==0" ng-click="main.showDialog('lookup')" aria-label="joiner" class="md-raised md-fab md-48">
                <md-tooltip md-direction="bottom" md-visible="true">Choose Main Object</md-tooltip>
                <md-icon aria-label="main">star_lookup</md-icon>
            </md-button>
            <md-button ng-if="main.relationships.length!=0" ng-click="main.showDialog('child')" aria-label="child" class="md-raised md-fab md-48">
                <md-tooltip md-direction="bottom" md-visible="false">Lookup To</md-tooltip>
                <md-icon aria-label="child" ng-click>vertical_align_bottom</md-icon>
            </md-button>
            <md-button ng-if="main.relationships.length!=0" ng-click="main.showDialog('parent')" aria-label="joiner" class="md-raised md-fab md-48">
                <md-tooltip md-direction="bottom" md-visible="false">Lookup From</md-tooltip>
                <md-icon aria-label="joiner">vertical_align_top</md-icon>
            </md-button>
        </div>
    </div>
    <div id="dialog-container" style="height:100px;overflow:hidden"> </div>
</div>
