<div>
    <related-object ng-repeat="relationship in main.relationships track by $index" relationship="relationship" showDialog="main.showDialog">
    </related-object>
    <div style="display: flex" layout-padding layout-align="center stretch">
        <div>
                    <md-button ng-click="main.showDialog('child')" aria-label="child" class="md-mini">
                        <md-tooltip md-direction="top" md-visible="false">Add Child Object</md-tooltip>
                        <md-icon aria-label="child" ng-click>wb_incandescent</md-icon>
                    </md-button>
                    <md-button ng-click="main.showDialog('lookup')" aria-label="joiner" class="md-mini">
                        <md-tooltip md-direction="top" md-visible="false">Add Lookup</md-tooltip>
                        <md-icon aria-label="joiner">wb_iridescent</md-icon>
                    </md-button>
        </div>
    </div>
    <md-button ng-click="main.showDialog()">
        <span>showDialog</span>
    </md-button>
    <div id="dialog-container"  style="height:100px;overflow:hidden"> </div>
    
</div>
<!-- <div class="lock-size" layout="row"> -->
<!-- <md-fab-speed-dial layout-padding md-direction="right" layout-align="center center" md-open="addFAB.isOpen" class="md-scale md-hover-full" ng-mouseenter="addFAB.isOpen=true" ng-mouseleave="addFAB.isOpen=false">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            <md-tooltip md-direction="bottom">Add Related Object</md-tooltip>
            <md-icon aria-label="menu">playlist_add</md-icon>
        </md-button>
    </md-fab-trigger>

    <md-fab-actions>
        <div>
            <md-button ng-click="main.addRelationship('child')" aria-label="child" class="md-fab md-raised">
                <md-tooltip md-direction="top" md-visible="addFAB.tooltipVisible">Add Child Object</md-tooltip>
                <md-icon aria-label="child" ng-click>wb_incandescent</md-icon>
            </md-button>
        </div>
        <div>
            <md-button ng-click="main.addRelationship('joiner')" aria-label="joiner" class="md-fab md-raised ">
                <md-tooltip md-direction="top" md-visible="addFAB.tooltipVisible">Add Joiner</md-tooltip>
                <md-icon aria-label="joiner">wb_iridescent</md-icon>
            </md-button>
        </div>

    </md-fab-actions>
</md-fab-speed-dial> -->

