
<div>
   <md-card ng-click="" flex="100">
        <md-card-title >
            <md-card-title-text>
                <span class="md-headline">{{relationship.Name}}</span>
                <span class="md-subhead">{{relationship.type}}</span>
            </md-card-title-text>
            <md-card-title-media >
            </md-card-title-media >
        </md-card-title>

        <!-- <md-card-actions layout="row" layout-align="space-around stretch">
             <md-button ng-click="showDialog()" aria-label="child" class="md-mini">
             <md-tooltip md-direction="top" md-visible="false">Add Child Object</md-tooltip>
             <md-icon aria-label="child" ng-click>wb_incandescent</md-icon>
             </md-button>
             <md-button ng-click="showDialog()" aria-label="joiner" class="md-mini">
             <md-tooltip md-direction="top" md-visible="false">Add Lookup</md-tooltip>
             <md-icon aria-label="joiner">wb_iridescent</md-icon>
             </md-button>
             </md-card-actions>
           -->  </md-card>
</div>




