<div >
    <md-card ng-click="" flex="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{relationship.Label}}</span>
                <span class="md-subhead">{{relationship.Name}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-chips ng-model="relationship.selected" md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="true">
                <md-autocomplete md-selected-item="ctrl.selected" md-search-text="ctrl.searchText" md-items="item in getFD(ctrl.searchText,relationship)" md-item-text="item.Name" placeholder="Add fields">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.Name}}</span>
                    </md-item-template>
                </md-autocomplete>
                <md-chip-template class="md-focused">
                    <span>
          <strong>{{$chip.Label}}</strong>
          <em>({{$chip.Name}})</em>
        </span>
                </md-chip-template>
            </md-chips>
        </md-card-content>
    </md-card>
<!--     <md-icon aria-label="joiner">keyboard_backspace</md-icon> -->
</div>
